<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink Sales Predictor</title>
</head>
<body>

    <h2>Upload Past Sales Data</h2>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>

    {% if filename %}
        <p>File uploaded: <strong>{{ filename }}</strong></p>
        <a href="{{ url_for('setup_prediction') }}">
            <button>Continue to Next Step</button>
        </a>
    {% endif %}

</body>
</html>
