<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Events</title>
</head>
<body>

    <h2>Enter Event Information</h2>
    <form action="{{ url_for('predict') }}" method="post">

        {% for i in range(future_dates|length) %}
            <h3>{{ future_dates[i].strftime('%A %d.%m.%Y') }}</h3>

            <label>Event:</label>
            <select name="event_{{ i }}">
                <option value="none">None</option>
                <option value="music">Music</option>
                <option value="other">Other</option>
            </select>
        {% endfor %}

        <button type="submit">Get Predictions</button>
    </form>

</body>
</html>
